@font-face {
  font-family: open-sans;
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
  
@font-face {
  font-family: open-sans;
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
  
* {
  margin: 0;
  padding: 0;  
  box-sizing: border-box;  
  font-family: open-sans, sans-serif;
}

/*--------------------------------------------------------------------------------------------------------*/
._container {
  margin: auto;
  padding: 0px 15px;
}

._container {
  max-width: 1200px;    
}

@media (min-width: 641px) and (max-width: 1200px) {
  ._container {
    max-width: 730px;    
  }
}

@media (max-width: 640px) {
   ._container {
    max-width: 360px;    
  }
}

._title {  
  font-weight: 700;
  color: #0f0d0e;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 30px; 
}

@media (min-width: 641px) and (max-width: 1200px) {
  ._title {
    font-size: 18px;
    margin-top: 45px;
    margin-bottom: 20px;
  }
}

@media (max-width: 640px) {
  ._title {
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 25px;
  }
}

._post__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

@media (min-width: 641px) and (max-width: 1200px) {
  ._post__title {
    font-size: 17px;    
    line-height: 1.3;    
  }
}

@media (max-width: 640px) {
  ._post__title {
    font-size: 16px;    
    line-height: 1.3;    
  }
}

._title__link {
  text-decoration: none;    
}

._post__categories {
  margin-bottom: 7px;
}

._category {
  text-decoration: none;
  color: #b59f5b;
  text-transform: uppercase;
  font-size: 14px;  
  font-weight: 700;  
}

._category:not(:last-child) {
  margin-right: 15px;
}

._category:hover {
  text-decoration: underline;
}

.post__date {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #888888;
  margin-right: 12px;
}

._post-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color:  #0f0d0e;
}

@media (max-width: 640px) {
  ._post-text {
    font-size: 14px;    
    line-height: 1.4;    
  }
}

._aside__section {}

@media (min-width: 641px) {
  ._aside__section:not(:first-child) {
    margin-top: 58px;
  }
}

._aside__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;  
  text-align: center;
  margin-top: -4px;  
}

@media (min-width: 641px) {
  ._aside__title {  
    margin-bottom: 29px; 
  }
}

@media (max-width: 640px) {
  ._aside__title {
    font-size: 16px;
    margin-top: 43px;    
  }

  ._aside__title:nth-child(-n+7) {  
    margin-bottom: 22px; 
  }
}

._title__line::after {
  content: "";  
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  margin: 8px auto 0px;
}

/*--------------------------------------------------------------------------------------------------------*/

.header {
  background-color: #000000;  
  background-image: url(../images/banner/banner-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top; 
  position: relative;
  z-index: 0;
  min-width: 100%;  
}

@media (min-width: 641px) and (max-width: 1200px) {
  .header {
    background-image: url(../images/banner/banner-bg-tablet.jpg);    
  }
}

@media (max-width: 640px) {
  .header {
    background-image: url(../images/banner/banner-mobile.jpg);    
  }
}

.header::after {
  content: "";
  position: absolute;
  background-color: #000000;
  opacity: 0.6;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;      
}

.header__container {
  padding-top: 30px;
  padding-bottom: 124px;
}

@media (min-width: 641px) and (max-width: 1200px) {
  .header__container {
    padding-top: 40px;
    padding-bottom: 112px;
  }  
}

@media (max-width: 640px) {
  .header__container {
    padding-top: 30px;
    padding-bottom: 210px;
  }  
}

.header__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;    
}

@media (min-width: 641px) and (max-width: 1200px) {
  .header__top {
    margin-bottom: 90px;
  }
}

@media (max-width: 640px) {
  .header__top {
    flex-direction: column-reverse;
    margin-bottom: 36px;
  }
}

.logo__link {
  display: block;
}

.logo__image {
  display: block;
  min-width: 180px;  
}

@media (min-width: 641px) and (max-width: 1200px) {
  .logo__image {
    min-width: 160px;
  }
}

@media (max-width: 640px) {
  .logo__image {
    width: 270px;    
  }

  .logo__link {
    margin: auto;    
  }
}

.menu {
  display: flex;
  align-items: center;
}

@media (max-width: 1200px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: flex;
  list-style: none;
}

.menu__item {}

.menu__item:not(:first-child) {
  margin-left: 35px;
}

.menu__link {
  display: block;
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__burger {
  display: flex;  
}

.menu-burger__image {
  display: block;
  width: 23px;
  height: 23px;
  cursor: pointer;    
}

@media (min-width: 1201px) {
  .menu__burger {
    display: none;
  }
}

@media (min-width: 641px) and (max-width: 1200px) {
  .menu__burger {    
    align-items: center;    
  } 
}

@media (max-width: 640px) {
  .menu__burger {
    justify-content: flex-end;
    margin-bottom: 170px;
  } 
}


.about {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.7;
  max-width: 690px;
  margin: auto;
  text-align: center;  
}

@media (min-width: 641px) and (max-width: 1200px) {
  .about {
    font-size: 40px;
    line-height: 1.4;
    max-width: 620px;
  }
}

@media (max-width: 640px) {
  .about {
    font-size: 26px;
    line-height: 1.4;
    max-width: 290px;
  }
}

.trends__section {}

.trends__title {}

.trends__cards {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 1200px) {
  .trends__cards {
    flex-wrap: no-wrap;
  }
}

@media (min-height: 641px) and (max-height: 1200px) and (orientation: landscape) {
  .trends__cards {
    flex-wrap: no-wrap;
  }
}

.trends__card {
  display: flex;
  flex-direction: column;  
  justify-content: flex-end;    
  background-color: #000000;
  background-size: cover;
  background-position: bottom;
  padding: 17px 20px;
  position: relative;
  z-index: 0;
}

/*-------desktop---------------------*/

@media (min-width: 1201px) {
  .trends__card {
    width: calc(25% - 3px);
    min-height: 320px;
  }

  .trends__card:not(:last-child) {
    margin-right: 4px;
  }
}

/*------------tablet-----------------*/

@media (min-width: 641px) and (max-width: 1200px) and (orientation: portrait) {
  .trends__card {
    width: calc(50% - 1.5px);
    min-height: 247px;
  }

  .trends__card:nth-child(odd) {
    margin-right: 3px;
  }

  .trends__card:nth-child(-n+2) {
    margin-bottom: 3px;
  }
}

@media (min-height: 641px) and (min-width: 993px) and (orientation: landscape) {
  .trends__card {
    width: calc(25% - 3px);
    min-height: 320px;
  }

  .trends__card:not(:last-child) {
    margin-right: 4px;
  }  
}

@media (min-height: 641px) and (max-width: 992px) and (orientation: landscape) {
  .trends__card {
    width: calc(50% - 1.5px);
    min-height: 247px;
  }

  .trends__card:nth-child(odd) {
    margin-right: 3px;
  }

  .trends__card:nth-child(-n+2) {
    margin-bottom: 3px;
  }
}

/*-------mobile----------------------*/

@media (max-width: 640px) and (orientation: portrait) {
  .trends__card {
    width: 100%;
    min-height: 232px;
    padding: 17px 17px;
  }

   .trends__card:not(:last-child) {
    margin-bottom: 2px;
  }
}

@media (max-height: 640px) and (min-width: 441px) and (orientation: landscape) {
  .trends__card {
    width: calc(50% - 1.5px);
    min-height: 247px;
  }

  .trends__card:nth-child(odd) {
    margin-right: 3px;
  }

  .trends__card:nth-child(-n+2) {
    margin-bottom: 3px;
  }
}

@media (max-height: 640px) and (max-width: 440px) and (orientation: landscape) {
  .trends__card {
    width: 100%;
    min-height: 232px;
    padding: 17px 17px;
  }

   .trends__card:not(:last-child) {
    margin-bottom: 2px;
  }
}

/*-------end mobile-------------------*/

.trends__card::after {
  content: "";
  position: absolute;
  background-color: #000000;
  opacity: 0.6;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
}

._garden__card {
  background-image: url(../images/trends/trend1.jpg);  
}

._cheese__card {
  background-image: url(../images/trends/trend2.jpg);  
}

._hike__card {
  background-image: url(../images/trends/trend3.jpg);  
}

._lemon__card {
  background-image: url(../images/trends/trend4.jpg);  
}

.card__frame {
  border: 3px solid #827346;
  padding: 30px 30px 28px 30px;
}

@media (max-width: 640px) {
  .card__frame {
    padding: 25px 20px;
  }  
}

.card__categories {  
}

.card__category {
  display: inline-block;  
}

.card__title-link {
  color: #ffffff;
}

.card__title-link:hover {
  color: #b59f5b;
}

.page__container {
  display: flex;  
  justify-content: space-between;
  padding-top: 60px;
}

@media (min-width: 641px) and (max-width: 1200px) {
  .page__container {
    padding-top: 50px;  
  }
}  

@media (max-width: 640px) {
  .page__container {
    flex-direction: column;
    padding-top: 42px;
  }
}

.main__container {
  flex: 1 1 auto;
  margin-right: 10%;
}

.main__post {
  display: flex;  
}

.main__post-image {
  display: block;  
}

@media (min-width: 641px) and (max-width: 1200px) {
  .main__post {
    flex-direction: column;
  }

  .main__post:not(:last-child) {
    border-bottom: 3px solid #eeeeee;    
  }

  .main__container {
    margin-right: 4%;
    max-width: 392px;
  }

  .main__post-image {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .main__post {
    display: flex;
    flex-direction: column;
  }  

  .main__post {
    border-bottom: 3px solid #eeeeee;    
  }

  .main__container {
    margin-right: 4%;
    width: 100%;
  }

  .main__post-image {
    width: 100%;
  }
}

.main__post-column {
  display: flex;
  flex-direction: column;  
}

@media (min-width: 1201px) {
  .main__post-column {
    margin-top: -6px;
    margin-left: 30px;
  }
}

@media (min-width: 641px) and (max-width: 1200px) {
  .main__post-column {
    margin-top: 10px;    
    margin-bottom: 5px;
  }
}

@media (max-width: 640px) {
  .main__post-column {
    margin-top: 10px;    
    margin-bottom: 8px;
  }
}

.main__post:not(:last-child) {
  margin-bottom: 60px;
}

@media (min-width: 641px) and (max-width: 1200px) {
  .main__post:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media (max-width: 640px) {
  .main__post:not(:last-child) {
    margin-bottom: 35px;
  }
}

.main__post-categories {}

.main__post-category {}

.main__post-title {
  margin-bottom: 30px;
}

@media (max-width: 640px) {
  .main__post-title {
    margin-bottom: 15px;
  }
}

.main__post-title-link {  
  color: #0f0d0e;
}

.main__post-title-link:hover {
  color: #b59f5b;
}

.main__post-date-autor {
  display: flex;
  margin-bottom: 42px;
}

@media (min-width: 641px) and (max-width: 1200px) {
  .main__post-date-autor {
    margin-bottom: 30px;
  }
}

@media (max-width: 640px) {
  .main__post-date-autor {
    margin-bottom: 15px;
  }
}

.main__post-autor {
  font-size: 12px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}
.main__post-text {
  margin-bottom: 10px;
}

.aside {
  flex: 0 0 270px;
}

.aside-posts__section {}

.aside__posts {}

.aside__post {
  display: flex;
}

.aside__post:not(:last-child) {
  margin-bottom: 22px;
}

.aside__post-image {
  max-width: 70px;
  max-height: 70px;  
}

.aside__post-column {
  margin-top: -3px;
  margin-left: 18px;
}

.aside__post-title {}

.aside__post-link {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.aside__post-link:hover {
  color: #b59f5b;
}

.search {
  display: flex;
  margin-top: 60px;
}

.search__field {  
  flex: 1 1 auto;
}

._field {
  font-size: 13px;
  font-weight: 400;
  background-color: #f4f7f6;
  border: none;
  outline: none;
  padding-left: 18px;
  padding-right: 18px;
}

.field__hidden-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search__button {
  width: 48px;
  height: 48px;
  background-color: #b59f5b;
  background-image: url(../svg/search.svg);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;  
  cursor: pointer;
}

.search:focus-within {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;  
}

.search__button:hover {  
  background-color: #313131;  
} 

.aside-sender__section {}

.email {
  display: flex;
  flex-direction: column;
}

.email__field {
  flex: 1 1 auto;
  height: 48px;  
}

.email__button {
  flex: 1 1 auto;
  height: 48px;
  background-color: #b59f5b;
  border: none;
  text-transform: uppercase;  
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  margin-top: 17px;
}

.email__button:hover {  
  background-color: #313131;
}
  
.email__field:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;  
}

.tag__items {
  list-style: none; 
  font-size: 12px;
  font-weight: 700;  
  margin-top: -7px;
}

.tag__item {
  display: inline-block;
  margin-top: 7px;
  margin-right: 4px; 
}

@media (max-width: 640px) {
  .tag__item {
    display: inline-block;
    margin-top: 6px;
    margin-right: 3px; 
  }
}

.tag__link {
  display: block; 
  border: 3px solid #f4f3f1;
  padding: 3px 12px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;  
}

.tag__link:hover {  
  outline: 3px solid #b59f5b;  
  outline-offset: -3px;
}

.themes__items {
  margin-top: -29px;
}

@media (max-width: 640px) {
  .themes__items {
    margin-top: -22px;
  }
}

.theme__item {
  display: inline-block;
  width: 100%;    
  list-style: none;  
  border-bottom: 1px solid #eeeeee;
  padding-top: 11px;  
  padding-bottom: 11px;
}

.theme__item:first-child {
  margin-top: 10px;
}

.theme__link {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: #0f0d0e;
}

.theme__link:hover {
  color: #b59f5b;  
}

.counter {
  font-size: 12px;
  font-weight: 700;
  color: #b59f5b;
  vertical-align: super; 
}

.products__title {}

.products {
  display: flex;  
}

@media (max-width: 1200px) {
  .products {
    flex-wrap: wrap;
  }
}

.product__card {
  display: flex;
  flex-direction: column;  
}

@media (min-width: 1201px) {
  .product__card {
    max-width: 30%;
  }

  .product__card:not(:last-child) {
    margin-right: 5%;
  }
}

@media (min-width: 641px) and (max-width: 1200px) {
  .product__card {    
    max-width: 48%;  
  }

  .product__card:nth-child(odd) {
    margin-right: 4%;
  }

  .product__card:nth-child(n+3) {
    margin-top: 28px;
  }
}

@media (max-width: 640px) {
  .product__card {    
    max-width: 100%;  
  }   

  .product__card:not(:first-child) {
    margin-top: 26px;
  }
}

.product__image {
  display: block;
  width: calc(100% - 46px);
  margin: auto;
}

.product-card__frame {
  flex: 1 1 auto;  
  border: 3px solid #d3c59d;
  margin-top: -35px;
  padding: 30px 20px;  
}

@media (max-width: 640px) {
  .product-card__frame {
    margin-top: -30px;
    padding: 25px 17px;  
  }
}

.product-card__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 3px;
}

@media (min-width: 641px) and (max-width: 1200px) {
  .product-card__title {
    font-size: 17px;    
    line-height: 1.3;    
  }
}

@media (max-width: 640px) {
  .product-card__title {
    font-size: 17px;    
    line-height: 1.3; 
    margin-top: 25px;   
  }
}

.product-card__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color:  #0f0d0e;
  margin-bottom: 20px;
}

.shop__link {}

.product-store__container {
  display: flex;
  justify-content: space-between;
}

.product__price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #0f0d0e;
  line-height: 1.0;
}

.old__price {
  font-size: 14px;
  font-weight: 700;
  text-decoration: line-through;
}

.new__price {
  font-size: 20px;
  font-weight: 700;
}

.product__store-link:hover {
  background-color: #323232;
}

.product__store-link {
  display: block;
  background-color: #b59f5b;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 30px;
}

.product__store-link:hover {
  background-color: #323232;
}

.shop__text-link {
  color: #b59f5b;
  text-decoration: none;
}

.shop__text-link:hover {
  text-decoration: underline;
}

.footer {}

.social__container {  
  background-color: #f4f7f6;
  padding: 32px 0px;
  margin-top: 64px;
  margin-bottom: 64px;   
}

@media (min-width: 641px) and (max-width: 1200px) {
  .social__container {
    margin-top: 50px;
    margin-bottom: 47px;
  }  
}

@media (max-width: 640px) {
  .social__container {
    margin-top: 42px;
    margin-bottom: 42px;
  }   
}

.social__items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;   
}

.social__item {}

.social__link {
  display: block;
  width: 20px;
  height: 20px;
  background-size: cover;   
}

.social__item:not(:last-child) {
  margin-right: 28px;
}

._twitter {
  background-image: url(../svg/twitter.svg);
}
._pinterest {
  background-image: url(../svg/pinterest.svg);
}
._facebook {
  background-image: url(../svg/facebook.svg);
}
._instagram {
  background-image: url(../svg/instagram.svg);
}
._tumbler {
  background-image: url(../svg/tumblr.svg);
}

.footer__copyright {
  text-align: center;  
  font-size: 12px;
  font-weight: 700;  
  margin-bottom: 40px;  
}

.copyright__link {
  text-decoration: none;
  color: #999999;
}

.copyright {
  text-transform: capitalize;
}

.company {
  text-transform: uppercase;
}

/*-----------------------------------------------------------------------------------------------------------------------*/

.popup__container {  
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
}

._hidden {
  display: none;
}

.popup__container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
  background-color: #000000;
  opacity: 0.6;
  z-index: -10;
}

.popup-close__image {}

.popup__content {  
  width: 390px;
  padding: 55px 30px;
  display: flex;
  flex-direction: column;  
  background-color: #ffffff; 
  position: relative;   
}

@media (min-width: 641px) and (max-width: 1200px) {
  .popup__content {  
    padding: 50px 30px;       
  }
}

@media (max-width: 640px) {
  .popup__content {  
    width: 330px;
    padding: 24px 24px;             
  }
}

.popup__close {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 0;
  top: -26px;  
  border: none;  
  background: transparent;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .popup__close {
    width: 28px;
    height: 28px;
    top: -36px; 
  }
}

.popup__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 641px) and (max-width: 1200px) {
  .popup__title {
    font-size: 18px;    
  }
}

@media (max-width: 640px) {
  .popup__title {
    font-size: 16px;    
  }
}

.popup__form {
  display: flex;
  flex-direction: column;  
}

.form__row {}

.form__group {
  display: flex;
  flex-direction: column;
}

.form__hint {
  display: block;
  margin-top: 26px;
  margin-bottom: 8px;
  font-size: 13px;
  font-weight: 400;
}

.form__select {
  height: 48px;
  padding: 0px 20px;
  font-size: 13px;
  font-weight: 400;  
  background-color: #f4f7f6;
  border: none;  
  outline: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../svg/form-arrows.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: right 15px center;
}

.radio__group {
  display: inline-block;
}

.radio__group:not(:last-child) {
  margin-right: 12px;
}

@media (max-width: 1200px) {
  .radio__group:not(:last-child) {
    margin-right: 34px;
  }
}

.form__radio {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  height: 1px;
  width: 1px;
}

.form__radio {
  display: inline-block;
}

.form__radio:checked ~ .radio-group__text::before {
  background-image: url(../svg/form-circle.svg);
}

.radio-group__text {
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
}

.radio-group__text::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
  vertical-align: middle;
  margin-right: 5px;    
}

@media (max-width: 1200px) {
  .radio-group__text::before {
    width: 25px;
    height: 25px;
    background-size: 25px;       
  }
}

.field__textarea {
  min-width: 330px;
  max-width: 330px;
  min-height: 130px;   
  max-height: 130px;
  padding: 12px 20px; 
  font-size: 13px;
  font-weight: 400;
  background-color: #f4f7f6;
  border: none;  
  outline: none;    
}

@media (max-width: 640px) {
  .field__textarea {
    min-width: 280px;
    max-width: 280px;    
  }
}

.field__textarea:focus, 
.form__select:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -1px;
}

.popup__button {
  width: 100%;
  height: 48px;
  background-color: #b59f5b;
  border: none;
  text-transform: uppercase;  
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  margin-top: 25px;
}

.popup__button:hover {
  background-color: #323232
}